@import '/src/styles/variables';

.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-height: 100vh;
}

.wrapper {
  flex: 1;
  width: 100%;
  display: flex;
  min-height: 100%;

  .sidebar {
    flex: 1;
    border-right: 1px solid $lightgray;
  }

  .sidebar .element {
    padding: 2rem;
    font-size: 2rem;
    border-bottom: 1px solid $lightgray;
  }

  .form-wrapper {
    flex: 2;
    display: flex;
    justify-content: center;
    margin-top: 4rem;

    &__form-fields {
      width: 95%;
      height: 90%;
      background: $ghostwhite;
      position: relative;

      .form {
        height: 100%;
        padding: 2rem;
        overflow: auto;
        height: 100%;
      }

      &--hint {
        font-size: 1.25rem;
        position: absolute;
        top: -2rem;
        left: 0;
        font-style: italic;
      }
    }

    &__action-btn {
      width: 100%;
      display: flex;
      justify-content: center;
      margin: 0.75rem 0;
    }
  }
}

.form-fields {
  &__field {
    --mat-form-field-container-text-size: 2rem;
  }
  &__label {
    font-size: 1.75rem;
    padding: 0 1rem 0.5rem 0;
  }

  &__group {
    display: flex;
    flex-direction: column;
  }
}

.cdk-drag-preview {
  padding: 2rem;
  font-size: 2rem;
  background: $white;
  box-shadow: 0 0 1rem rgba($black, 0.4);
}
