<!-- {{ formConfigHistory.current }}
{{ formConfigHistory.formConfigs | json}}
{{ formConfig | json }} -->

<div class="main">
  <app-header [currentIndex]="formConfigHistory.current" [formConfigs]="formConfigHistory.formConfigs" 
    (updateCurrentIndex)="updateCurrentFormConfig($event)" />
  <div class="wrapper">
    <div
      cdkDropList
      cdkDropListSortingDisabled
      class="sidebar"
      [cdkDropListConnectedTo]="dropItem"
      [cdkDropListDisabled]
    >
      <div cdkDrag class="element" *ngFor="let field of formFields" [cdkDragData]="field">
        {{ field.placeholder }}
      </div>
    </div>
    <div class="form-wrapper">
      <div class="form-wrapper__form-fields">
        <span class="form-wrapper__form-fields--hint"
          >Drag & Drop in below square to add form fields</span
        >
        <form
          class="form"
          [formGroup]="dndForm"
          cdkDropList
          #dropItem="cdkDropList"
          (cdkDropListDropped)="handleFieldDrop($event)"
        >
          <div
            class="form-fields"
            formArrayName="elements"
            *ngFor="let element of formElementsArray.controls; index as i"
          >
            <ng-container [ngSwitch]="formConfig[i].type">
              <div class="form-fields__group" *ngSwitchCase="FORM_FIELD_TYPES.EMAIL">
                <!-- label outside mat-form-field to show label outside the form field -->
                <mat-label class="form-fields__label">{{
                  formConfig[i].label || formConfig[i].placeholder
                }}</mat-label>
                <mat-form-field class="form-fields__field" appearance="outline">
                  <input matInput [type]="FORM_FIELD_TYPES.EMAIL" [formControlName]="i" />
                </mat-form-field>
              </div>
              <div class="form-fields__group" *ngSwitchCase="FORM_FIELD_TYPES.TEXT">
                <!-- label outside mat-form-field to show label outside the form field -->
                <mat-label class="form-fields__label">{{
                  formConfig[i].label || formConfig[i].placeholder
                }}</mat-label>
                <mat-form-field class="form-fields__field" appearance="outline">
                  <input matInput [type]="FORM_FIELD_TYPES.TEXT" [formControlName]="i" />
                </mat-form-field>
              </div>
              <div class="form-fields__group" *ngSwitchCase="FORM_FIELD_TYPES.NUMBER">
                <!-- label outside mat-form-field to show label outside the form field -->
                <mat-label class="form-fields__label">{{
                  formConfig[i].label || formConfig[i].placeholder
                }}</mat-label>
                <mat-form-field class="form-fields__field" appearance="outline">
                  <input matInput [type]="FORM_FIELD_TYPES.NUMBER" [formControlName]="i" />
                </mat-form-field>
              </div>
              <div class="form-fields__group" *ngSwitchCase="FORM_FIELD_TYPES.PASSWORD">
                <!-- label outside mat-form-field to show label outside the form field -->
                <mat-label class="form-fields__label">{{
                  formConfig[i].label || formConfig[i].placeholder
                }}</mat-label>
                <mat-form-field class="form-fields__field" appearance="outline">
                  <input matInput [type]="FORM_FIELD_TYPES.PASSWORD" [formControlName]="i" />
                </mat-form-field>
              </div>
            </ng-container>
          </div>
        </form>
        <div class="form-wrapper__action-btn">
          <button mat-raised-button color="primary" (click)="handleFormSubmit()">Submit</button>
        </div>
      </div>
    </div>
  </div>
  <app-footer />
</div>
