<div mat-dialog-content>
  <h3>Please provide label for the input field -</h3>
  <mat-form-field class="dialog__input" appearance="outline">
    <input matInput [(ngModel)]="label" />
  </mat-form-field>
</div>
<div mat-dialog-actions class="dialog__action-btn">
  <button mat-stroked-button color="primary" class="dialog__btn" (click)="handleClose()">
    Cancel
  </button>
  <button
    mat-flat-button
    cdkFocusInitial
    color="primary"
    class="dialog__btn"
    [mat-dialog-close]="label"
    [disabled]="!label"
  >
    Save Label
  </button>
</div>
