* {
    margin: 0;
    padding: 0;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.header {
    &__form-history {
        .mat-mdc-form-field-subscript-wrapper {
            display: none;
        }
    }
    &__history-item {
        min-height: 48px;
        display: flex;
        align-items: center;
    }
}
